
button{
    background-color: rgb(37, 233, 240);
    border-radius: 25%;
    
}
button{
    background-color: rgb(0, 162, 255);
    cursor: pointer;
}
a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #333;
    background-color: #f9f9f9;
}
td {
    padding: 5px 10px;
    text-align: center;
}
.undone-tasks{
    align-items: end;
}